
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --navy-blue: #142B41;
    --light-green: #01D66F;
    --green: #01CC6A;
    --border: #142B41;
    --h1: 1.5rem;
}

@media only screen and (min-width: 576px) {
    :root {
        --h1: 2rem
    }
}

@media only screen and (min-width: 786px) {
    :root {
        --h1: 2.5rem
    }
}

/* 
    /// general ///
*/

*, *::after, *::before,
body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


.container {
    max-width: 493px;
    padding: 0 15px;
    margin: auto;
}


.horizontal__line {
    background: rgba(20, 44, 66, 0.25);
    height: 1px;
    width: 100%;
    border-radius: 50px;
    margin: 1rem 0;
}
/* end general */

#app{
    min-height:100vh;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Poppins','Oswald', sans-serif;
    padding: 80px 0;
}

.holder{
    margin-bottom: 1.125rem;
}

.entry{
    background: rgb(243, 246, 247);
    color: var(--navy-blue);
    height: 247px;
    padding: 18px;
    
}

#entryHolder{
    display: none;
}
/* 
#date{

}

#temp{

}

#content{

} */

.headline {
    text-align: center;
    font-weight: 600;
    text-shadow: 4px 0 4px  rgba(0, 0, 0, 0.25);
    color: var(--navy-blue);
    font-size: var(--h1);
    user-select: none;
}

.title{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    font-size: 0.875rem;
    color: var(--navy-blue);
    font-weight: 400;
    margin-bottom: 0.375rem;
}


input, 
textarea{
    display:block;
    width: 100%;
    padding: 4px 14px;
    font-size: 16px;
    border: none;
    background-color: #F3F6F7;
    color: var(--navy-blue);
    border-radius: 3px;
}

input {
    width: 50%;
}

button{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #01D66F, #01CC6A);
    color: #ffffff;
    font-size: 16px;
    border: none;
    text-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 18px;
}

h1{
    font-size: 36px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #7E7E7E;
    font-size: 0.875rem; 
    font-family: 'Poppins',sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #7E7E7E;
    font-size: 0.875rem; 
    font-family: 'Poppins',sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #7E7E7E;
    font-size: 0.875rem; 
    font-family: 'Poppins',sans-serif;

} 